/* ----------- Text design ----------- */

body,
div,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

.clearFix {
  overflow: auto;
}

h1 {
  font-size: 40px;
  color: #192F43;
  line-height: 1.07143;
  text-align: center;
  padding: 20px;
}

h2 {
  font-weight: bold;
  font-size: 24px;
  color: #192F43;
  line-height: 1.07143;
  padding: 10px;
  text-align: center;
}

h3 {
  font-style: italic;
  font-size: 20px;
  color: #192F43;
  line-height: 1.07143;
}

h4 {
  font-weight: bold;
  font-size: 14px;
  color: #4a4a4a;
  line-height: 1.07143;
}

h2,
h3,
h4,
h5 {
  padding: 10px 5%;

}


.dateText {
  font-style: italic;
  font-size: 14px;
  color: #999;
  line-height: 16px;
}

.locationText {
  font-style: italic;
  font-size: 14px;
  color: #999;
  line-height: 16px;
  float: right;

}

p {
  font-size: 14px;
  color: #192F43;
  line-height: 21px;
}

a {
  color: #1199c3;
  text-decoration: none;
  margin-top: 10px;
}

.welcomeMessage {
  font-style: italic;
  font-size: 18px;
  color: #f3f3f3;
  line-height: 28px;
}

.blue {
  background-color: #192F43;
}

.blueText {
  color: #192F43;
}

.lightBlueText {
  font-weight: bold;
  color: #1199c3;
}

.whiteText {
  font-weight: bold;
  color: #fff;
}

.gray {
  background-color: #fff;
  padding-bottom: 10px;
  clear: both;
}

.darkGray {
  background-color: #4a4a4a;
}



/* ----------- Header ----------- */

#header {
  background-image: url("../images/headerBg.png");
  background-repeat: round;
  position: relative;
  height: 100vh;
}

#headerContent{
  position: absolute;
  width: 90%;
  text-align: center;
  top: 35%;
  transform: translateY(-35%);
}

.flexBox {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}

.flexColumn {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 10px;
}

.centerContent {
  padding: 2.5% 5%;
}

ul {
  list-style-type: none;
}

.biopic {
  margin: auto;
  border-radius: 50%;
  border: 4px white solid;
  padding: 0px;
  width: 30%;
}


/* ----------- Body ----------- */

#work{
  display: flex;
  flex-direction: column;
}

.workEntry{
  display: flex;
  justify-content: space-between;
}

.projectEntry{
  display: block;
}

.educationEntry{
  padding: 5px 5%;
}

.educationInfo,
.workInfo,
.projectInfo {
  margin: auto;
  text-align: center;
  padding: 0 5%;
}

.workImage,
.projectImage{
  display: block;
  max-width: 40%;
  height: auto;
  max-height: 500px;
  object-fit: contain;
}

.projectImage{
  max-width: 800px;
  max-height: 800px;
  width: 60%;
  margin: auto;
}

.fadeIn{
  opacity: 0;
}

#knowledge{
  display: flex;
  padding-top: 10vh;
  width: 100%;
}

#education{
  width: 40%;
}

#skills{
  width: 60%;
  position: relative;
}

.skillCloud{
  position: relative;
  height: 500px;
}

.skillEntry{
  position: absolute;
  width: 150px;
  height: 150px;
  line-height: 150px;
  border-radius: 50%;
  background-color: #192F43;
  color: #fff;
  text-align: center;
  transition: all .2s ease-in-out;
}
.skillEntry:hover{
  transform: scale(1.5);
  z-index: 2;
}

.skillEntry span{
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

span {
  padding: 10px;
}

/* ----------- Footer ----------- */

#letsConnect {
  text-align: center;
}

#footerContacts{
  background-image: url('../images/footerBg.jpg');
  background-repeat: round;
}

/* Media queries to handle various device widths */

@media only screen and (max-width: 1024px) {
  #letsConnect {
    margin-top: 5%;
  }
}

@media only screen and (max-width:900px) {
  .biopic {
    width: 175px;
  }
}

@media only screen and (max-width: 750px) {
  #letsConnect {
    margin-top: 10%;
  }
  .biopic {
    width: 150px;
  }
  .welcomeMessage {
    display: none;
  }
  h1 {
    font-size: 32px;
    line-height: 1.07143;
  }

  h2 {
    font-size: 18px;
    line-height: 1.07143;
  }

  h3 {
    font-size: 16px;
    line-height: 1.07143;
  }

  h4 {
    font-size: 12px;
    line-height: 1.07143;
  }

  h2,
  h3,
  h4,
  h5 {
    padding: 10px 5%;

  }


  .dateText {
    font-size: 14px;
    line-height: 16px;
  }

  .locationText {
    font-size: 14px;
    line-height: 16px;

  }

  p {
    font-size: 12px;
    line-height: 21px;
  }

#knowledge {
  display: inline-block;
}

#education, #skills {
  width: 100%;
 }
}

#map {
  display: block;
  height: 100%;
  margin: 0 5%;
}

#mapDiv {
  height: 400px;
  width: 100%;
  padding-bottom: 5%;
}



@media only screen and (min-width: 750px) {

}
